
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a, .btn{
    transition: all 300ms ease;
}

.desktop-navbar{
    justify-content: space-around;
    align-items: center;
    padding-left: 10%;
    padding-top: 3%;
    padding-right: 10%;
    color: #ffffff;
}

.logo{
    font-size: 1.5rem;

}

.cv-foto{
    width: auto;
    height: 450px;
    border-radius: 90%;
    padding-left: 20%;
}

.profile-section{
    margin-top: 17vh;
    margin-left: 10vw;
    box-sizing: border-box;
    min-height: fit-content;
}

.profile-text-1{
    margin-bottom: 2vh;
    color: rgb(83, 83, 83);
}

.profile-text p{
    font-weight: 600;
}

.socials-container{
  /* display: flex;
  justify-content: center; */
  margin-top: 1rem;
  
}

.icon{
    height: 2rem;
    
}

#About {
    background: #f9f9f9;
    padding: 20px;
    text-align: center;
    margin-top: 40vh; 
}

.about-me{
    margin-top: 50vh;
 

}

.container {
    max-width: 800px; /* Limits the width of the content */
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the content vertically */
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #fff; /* Optional: adds a white border around the image */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: adds shadow to the image */
    margin-bottom: 20px;
}

.about-text h2 {
    color: #333;
    margin-bottom: 15px;
}

.about-text p {
    color: #666; /* Dark gray text */
    font-size: 16px;
    line-height: 1.6;
}




.container-about{
    margin-top: 50vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    
}
  
.btn-container{
    
    
}

.btn{
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    border-radius: 2rem;
}



.btncv:hover, .btncontact:hover{
    cursor: pointer; 
}

.btncv, .btncontact:hover{
    background: rgb(53, 53, 53);
    color: white;
}

.btn-cv{
    color: white;
    background: rgb(0, 0, 0);
    border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-contact{
    background: none;
    border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-contact:hover{
    background: rgb(148, 39, 39) 0.1rem solid;
    
}


.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1.3rem;
}

a{
    text-decoration: none;
    color: #000000;
    text-decoration-color: white;
}

a:hover{
    color: gray;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

.text-modal{
    color: #003566;
}

.bg-modal{
    background-color: #003566;
    color: white;
}

.title-cards{
    color: #FFC300;
}

.container-projects{
    margin-left: -15vw;
}

.color-card{
    color: #ffffff;
}

.container-carousel{
    margin-left: 5vw;
}

.card-project-3{
    margin-left: -14vw;
}

.example-img{
    width: auto;
    height: 30vh;
}

.color-white-text{
    color: #ffffff !important;
}
.container-project-img{
    margin-left: 45vw;
    margin-top: -65vh;
}

.container-project-img-2{
    margin-left: 45vw;
    margin-top: -63vh;
}

.img-one-piece{
    width: auto;
    height: 60vh;
}

.card-project{
    border: 3px solid #ffffff;
    background-color: #003566;
}

.img-project-modal{
    width: auto;
    height: 25vh;
}

/* .nav-links {

   
    
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    color: white;
    margin-right: 30px;

} */



/* .nav-links:hover {
    color: #003566;
} */

/* .whole-nav {
    padding: 40px 140px;
} */

.h1-line {
    margin-right: 20px;
}

.row1 {
    position: relative;
    margin-top: 15vh;
  }
  
  .col2 {
    position: absolute;
    margin-left: 20vw;
    top: 1vh;
    right: -50vw;
    z-index: -1;
   
  }
  

.valImg {
    width: auto;
    height: 800px;
    object-fit: cover;
}
   

.intro {
    padding: 2rem 1rem 5rem 1rem;
    padding-bottom: 10rem;
    max-width: 1200px;
    margin-left: 7vw;
}

.intro {
    padding-bottom: 10rem;
    color: #ffffff;
}

/* .software-text{
    color: #FFC300 !important;
} */

.intro p {
    font-size: 1rem;
    line-height: 1.5;
}

/* .name{
    color: #FFC300 !important;
} */

.name2{
    color: #0072dd;
}
.intro .name {
    font-family: var(--mono);
    font-size: 1rem;
    color: white;
}


.name span {
   
    font-size: 4rem;

    display: block;
    font-weight: 300;
}

.intro h2 {
    font-size: 4rem;
    color: #ffffff;
}


.aboutSection2{
  font-size: 2vw;
  color: #FFC300;
  margin-bottom: 8vh;
}

.more-projects{
    font-size: 2vw;
    color: #FFC300;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.section-about-me{
    margin-top: 45vh;
}

.form-contact{
    margin-top: 10vh;
    margin-left: 5vh;
}

.message-form{
    width: 40vw;
}

.contact-title{
    font-size: 2em;
    color: #FFC300;
}



.button-view-more{
    background-color: #FFC300;
    color: #003566;
    width: 10vw;
  
}



.button-view-more:hover{
    background-color: #0072dd;
    width: 11vw;
    height: 4vh;
}



.display-button{
    display: none;
}

.container-credits{
    background-color: #003566;
    height: 40vh;
    width: 100vw;
    margin-left: -20vw;
    margin-top: -40vh;
}