.nav-color {
    background-color: #000814;
}

body {
    background-color: #000814;
}

.nav-links {

    background: none;
    
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    color: white;
    margin-right: 30px;

}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  
}

.nav-links:hover {
 
    
    color: #FFC300;
}

.whole-nav {
    padding: 40px 140px;
}

.h1-line {
    margin-right: 20px;
}

.row1 {
    position: relative;
  }
  
  .col2 {
    position: absolute;
    margin-left: 20vw;
    top: 1vh;
    right: -50vw;
    z-index: -1;
   
  }
  

.valImg {
    width: auto;
    height: 800px;
    object-fit: cover;
}
   

.intro {
    padding: 2rem 1rem 5rem 1rem;
    padding-bottom: 10rem;
    max-width: 1200px;
    margin-left: 7vw;
}

.intro {
    padding-bottom: 10rem;
    color: #ffffff;
}

.intro p {
    font-size: 1rem;
    line-height: 1.5;
}
.name2{
    color: #003566;
}
.intro .name {
    font-family: var(--mono);
    font-size: 1rem;
    color: white;
}


.name span {
   
    font-size: 4rem;

    display: block;
    font-weight: 300;
}

.intro h2 {
    font-size: 4rem;
    color: #ffffff;
}

.aboutSection2{
  font-size: 2vw;
  color: #003566;
  
}

.pAbout{
   
}

.section-about-me{
    margin-top: 45vh;
}